<div class="text-center">
<%= link_to "Find a vehicle", search_path, class: "btn" %>

<div class="container">
<%= form_tag search_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a vehicle"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
</div>


<img src="https://images8.alphacoders.com/101/1018828.jpg" class="img-fluid" alt="Responsive image">
  <button class="btn"><%=link_to "View All Vehicles", vehicles_path%></button>
</div>
