<%= render "layouts/banner" %>
<div class="container">
  <div class="bar d-flex justify-content-end align-items-center">
    <div class="flex-container">
      <div class="flex-item-grow">
        <%= form_tag vehicles_path, method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a vehicle"
        %>
        </div>
        <div >
          <%= submit_tag "Search", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <div class="icons">
      <%= link_to  new_vehicle_path, class:"map-button" do%>
        <button class="new-car-btn text-center">
          <i id="car-icon" class="fas fa-car"></i>
        </button>
      <% end %>
      <%= link_to  map_path, class:"map-button" do%>
        <button class="btn-map text-center">
          <i id="map-icon" class="fas fa-globe-americas"></i>
        </button>
      <% end %>
    </div>
  </div>
  <h1>Available Vehicles</h1>
  <div class="vehicles-index">
    <% @vehicles.each do |vehicle| %>
      <%= link_to  vehicle_path(vehicle) do  %>
        <div class="car-card">
          <% if vehicle.photo.attached? %>
            <%= cl_image_tag vehicle.photo.key %>
          <% else%>
            <img src="https://source.unsplash.com/collection/2102317/1600x900" alt="">
          <% end %>
          <div class="text">
            <h3> <%= vehicle.name %></h3>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
