<div class="container">
<div class="row justify-content-left">
<div class="col-6">
<h1>New Vehicle</h1>
<%= simple_form_for @vehicle do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.input :description %>
  <%= f.input :model %>
  <%= f.input :brand %>
  <%= f.input :rent_cost_per_day %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
</div>
</div>
</div>
