<div class="container">
  <div class="card text-left">
    <img class="car-img" src="https://source.unsplash.com/collection/2102317/1600x900">
    <div class="car-info">
      <h1 id="name"><%= @vehicle.name %></h1>
      <p id="rent"><%= @vehicle.rent_cost_per_day %></p>
      <p id="brand"><%= @vehicle.brand %></p>
      <p id="model"><%= @vehicle.model %></p>
      <p id="description"><%= @vehicle.description %></p>
    </div>
  </div>
  <div class="link_container">
    <button class="btn-wagon"> <%= link_to "Book this car", new_vehicle_booking_path(@vehicle) %></button></a>
</div>
</div>
