<div class="fixed-top fixed-header">
        <div class="container">
            <nav>
               <label class="name">Rent-A-Wagon</label>

                <a href="/">Home</a>
                <%=link_to "Vehicles", vehicles_path%>
                <%=link_to "Bookings", bookings_path%>
                <a href="/about">About</a>
                <a href="/contact">Contact Us</a>

                <% if user_signed_in? %>
                <div>
                  <%= current_user.email %>
                  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
                </div>

                <% else %>
                  <%= link_to "Login", new_user_session_path, class: "nav-link" %>
                <% end %>

            </nav>
        </div>
    </div>
